<style type="text/css">
	.icon-block{
		display:inline-block;
		width:18px;
		font-size: 12pt;
	}
</style>
<ion-view title="Add Photo Opportunity">
  <ion-content has-header="true" padding="true">
  <h2>Add</h2>
  <p>
  	<label class="item item-input">
  		<input type="text" placeholder="Name" ng-model="name">
  	</label>
  	<label class="item">
		<button class="button button-stable">Photo</button>
		<br>
		<img ng-src="image">
	</label>
  	<label class="item item-input">
  		<textarea placeholder="Description" ng-model="description"></textarea>
  	</label>
  	<label class="item">
		<button class="button button-positive" ng-click="btnSave()">Save</button>
  	</label>

	<div class="list card">
		
		<label class="item item-input">
			<i class="ion-clock"></i>
			<input type="text" ng-model="datetime" readonly="readonly" placeholder="Loading..">
		</label>

		<i class="ion-map"></i> {{photoop.latitude}}, {{photoop.longitude}} 
			[<a href="http://www.google.com/maps/place/@{{photoop.latitude}},{{photoop.longitude}},11z" target="_blank">Map</a>]
	</div>




  </p>

	<div class="list card">
		<i class="ion-clock"></i> {{photoop.datetime|date:'short'}}<br>
		<i class="ion-map"></i> {{photoop.latitude}}, {{photoop.longitude}} 
			[<a href="http://www.google.com/maps/place/@{{photoop.latitude}},{{photoop.longitude}},11z" target="_blank">Map</a>]
	</div>

	<div class="list card">
		<div class="item item-icon-left">
		  <i class="icon-block ion-umbrella icon-block"></i> {{photoop.weather}}
		</div>
		<div class="item item-icon-left">
	  	<i class="icon-block ion-thermometer"></i> {{photoop.temperature}}<br>
		</div>
		<div class="item item-icon-left">
	  	<i class="icon-block ion-speedometer"></i> {{photoop.humidity}} / {{photoop.pressure}}mmHg<br>
		</div>
		<div class="item item-icon-left">
	  	<i class="icon-block ion-ios7-sunny"></i> {{photoop.sunrise|date:'mediumTime'}} -&gt; {{photoop.sunset|date:'mediumTime'}}<br>
		</div>
		<div class="item item-icon-left">
	  	<i class="icon-block ion-flag" x-alt-class="ion-navigate"></i> {{photoop.windspeed}}
		</div>
	</div>

  </ion-content>
</ion-view>